demo1/obj/
.vs/
demo1/bin/Debug/net8.0/appsettings.Development.json
demo1/bin/Debug/net8.0/appsettings.json
demo1/bin/Debug/net8.0/Azure.Core.dll
demo1/bin/Debug/net8.0/Azure.Identity.dll
demo1/bin/Debug/net8.0/demo1.deps.json
demo1/bin/Debug/net8.0/demo1.dll
demo1/bin/Debug/net8.0/demo1.exe
demo1/bin/Debug/net8.0/demo1.pdb
demo1/bin/Debug/net8.0/demo1.runtimeconfig.json
demo1/bin/Debug/net8.0/demo1.staticwebassets.endpoints.json
demo1/bin/Debug/net8.0/Humanizer.dll
demo1/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
demo1/bin/Debug/net8.0/Microsoft.Build.Locator.dll
demo1/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.dll
demo1/bin/Debug/net8.0/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
demo1/bin/Debug/net8.0/Microsoft.CodeAnalysis.dll
demo1/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.dll
demo1/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.dll
demo1/bin/Debug/net8.0/Microsoft.CodeAnalysis.Workspaces.MSBuild.dll
demo1/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
demo1/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
demo1/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Design.dll
demo1/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
*.dll
